{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Student Log</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500'"rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{% static '/style.css' %}">

</head>
<body>
<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Make sure You Log out too</h2>
        <p class="user_unregistered-text">Hope the Lab was Great!!</p>
        <button class="user_unregistered-logout" id="logout-button">Log Out</button>
      </div>

      <div class="user_options-registered">
        <h2 class="user_registered-title">Student Login </h2>
        <p class="user_registered-text">Happy Learning!!</p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>
    
    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form class="forms_form" method="POST">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              {% csrf_token %}
             <h1> {{form}} </h1>
            <!--  <input type="text" placeholder="ID" class="forms_field-input" required autofocus />-->
               
            </div>

          </fieldset>
          <div class="forms_buttons">
            <button type="button" class="forms_buttons-forgot"></button>
            <input type="submit" value="Log In" class="forms_buttons-action">
          </div>
        </form>
      </div>
      <div class="user_forms-logout">
        <h2 class="forms_title">Log Out</h2>
        <form class="forms_form" method="POST">
          {% csrf_token %}
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              {{form1}}
<!-- <input type="text" placeholder="ID" class="forms_field-input" required autofocus />-->
            </div>

          </fieldset>
          <div class="forms_buttons">
            <input type="submit" value="Log out" class="forms_buttons-action">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- partial -->
  <script  src="{% static '/script.js' %}"></script>

</body>
</html>
